<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/assets/img/icons8-sedan-64.png" type="image/x-icon">

  <title>
    Cadastro Veículos Tinnova
  </title>

  <meta property="og:site_name" content="Cadastro Veículos Tinnova">
  <meta property="og:url" content="http://www.cadastrosveiculostinnova.com.br/">
  <meta property="og:image" href="http://www.cadastrosveiculostinnova.com.br/static/assets/img/icons8-sedan-64.png">
  <meta name="description" content="Cadastro Veículos Tinnova">

  <!-- Specific Page CSS goes HERE  -->  
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %}">

  {% block content %}{% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>
</html>
